<%- if controller_name != 'sessions' %>
  <div class="row">
    <div class="col-lg-8 px-sm-0 offset-sm-1">
      <h4 class="table-secondary d-inline-flex pl-3 pr-3">既にご登録済みの方</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 px-sm-0 offset-sm-1 mb-5">
      <u><%= link_to "こちら", new_session_path(resource_name) %></u>からログインしてください。
    </div>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row">
    <div class="col-lg-8 px-sm-0 offset-sm-1">
      <h5>会員登録がお済みでない方</h5>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-lg-8 px-sm-0 offset-sm-1 mb-5">
      <u><%= link_to "こちら", new_registration_path(resource_name) %></u>から新規登録を行ってください。
    </div>
  </div>
<% end %>
