<div class="container">
  <div class="mx-auto mb-5">
  <h1 class="display-2 text-center">About</h1>
  </div>
  <p class="text-center">
    Progressingは歌唱力を上げたい人が集まるコミュニティサイトです。<br>
    カラオケで上手いと言われたい方、歌で繋がりを増やしたい方など、<br>
    様々な用途でご利用いただけます。<br>
    ぜひお気軽に投稿を始めてみましょう！
  </p>
  <div class="text-center">
  <%= image_tag 'cake/cake_3.jpeg', size: '450x350' %>
  </div>
</div>
