<div class="card  text-center">
  <div class="card-img-overlay">
    <h1 class="display-3 font-weight-bold">ようこそ、Progressingへ！</h1>
    <h5 class="font-weight-bold">このサイトは、歌唱力UPのためのコミュニティサイトになります。
      会員でない方も投稿の閲覧はできますが、購入には会員登録が必要になります。</h5>
  </div>
</div>

