<div class="container mt-5">
   <div class="row mb-4">
        <div class="col-xs mx-auto">
          <h3 class="text-info font-weight-bold mt-5">ジャンル編集</h3>
            <%= form_with model: @genre, url:admin_genre_path, local:true do |f| %>
            <table class="table">
              <tr>
                <th>ジャンル名</th>
                <th><%= f.text_field :name %></th>
                <th><%= f.submit "変更を保存",class: "btn btn-success" %></th>
              </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>
