<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="table-secondary d-inline-flex pl-5 pr-5 mt-5 mb-5">ジャンル編集</h3>

      <%= form_with model: @genre, url:admin_genre_path, local:true do |f| %>
        <table class="table">
         <tr>
          <th>ジャンル名</th>
          <th><%= f.text_field :name %></th>
          <th><%= f.submit "変更を保存",class: "btn btn-success" %></th>
         </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
